
.insertQuestionImage {
    width: 90px;
    height: 76px;
    outline: 2px solid black;
    outline-offset: -2px !important;
    border-radius: 8px;
    background-image: url('css/images/questionimage.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.ansImageContainer {
    width: 186px;
    height: 70px;
    outline: 2px solid black;
    outline-offset: -2px !important;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    background-size: 72px 86px;
    background-position: center;
    background-color: white;
}

    .ansImageContainer img {
        outline: none;
        width: 83px;
        height: 69px;
    }

.ansContainer .ansImageContainer:hover .editAnsImage {
    display: block;
}

.ansContainer .ansImageContainer:hover img {
    display: none;
}

form img {
    cursor: pointer;
    width: 90px;
    height: 76px;
    outline: 2px solid black;
    outline-offset: -2px !important;
    border-radius: 8px;
    object-fit:contain;
}

.editAnsImage {
    width: 186px;
    height: 70px;
    background-color: #E6F9FF;
    position: relative;
    display: none;
    outline: 2px solid black;
    outline-offset: -2px !important;
    border-radius: 8px;
    background-image: url('css/images/pencilicon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px 20px;
    cursor: pointer;
}

    .editAnsImage .insertQuestionImage {
        background-image: none;
        outline: 0px;
        width: 186px;
        height: 69px
    }

.deleteImageIcon {
    margin-top: 25px !important;
}

#questionArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

.questionAnswersInputs {
    width: 200px !important;
    height: 50px;
    border: 2px solid black;
    border-radius: 8px !important;
    margin: 6px;
}

.answersArea {
    height: 250px;
    width: 494px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    flex-direction: column;
}

.addAnsContainer {
    height: 50px;
    width: 219px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#collapseTwo .buttonContainer div {
    font-weight: bold
}

#gameSettingsContainer, #listOfQuestionsContiner, .buttonContainer {
    width: 494px;
    height: auto !important;
    display: flex !important;
    justify-content: center;
}

    .buttonContainer input[type="button"] {
        margin-right: 28px;
    }

#gameSettingsContainer {
    justify-content: space-between !important;
    flex-wrap: wrap;
}

#listOfQuestionsContiner {
    flex-direction: column;
    max-height: 200px;
    width: 508px !important;
    overflow-y: auto !important;
    direction: ltr;
    justify-content: flex-start;
}

@supports selector(::-webkit-scrollbar) {

    #listOfQuestionsContiner::-webkit-scrollbar-thumb {
        background: #233E46;
        border-radius: 10px 0px 0px 10px;
    }

    #listOfQuestionsContiner::-webkit-scrollbar-track {
        background: var(--scrollbar-color-track);
    }

    #listOfQuestionsContiner::-webkit-scrollbar {
        width: 10px;
        height: 200px;
    }
}

.newQHeadlines {
    width: 494px;
    height: 30px;
    display: flex;
    flex-direction: row;
}

    .newQHeadlines div:nth-child(2) {
        margin-top: 6px;
        margin-right: 6px;
    }


.questionNumberInList {
    font-weight: bold;
    padding-left: 5px;
}


#disabledPlusButton {
    opacity: 30% !important
}

    #disabledPlusButton:hover {
        transform: scale(1) !important;
    }

#addAnsButton {
    position: relative;
}

#addAnsOptions {
    display: none;
    position: absolute;
    top: -213%;
    left: -169%;
}

    #addAnsOptions button {
        border: none;
        background-color: white;
        width: 136px;
        display: flex;
        flex-direction: row;
        margin-top: 4px;
    }

        #addAnsOptions button:hover {
            background-color: #E6F9FF;
        }

        #addAnsOptions button div:nth-child(2) {
            width: 90px;
            height: 25px;
            text-align: right;
            border: none;
            margin-right: 5px;
        }

#inputIcon, #imageIcon {
    background-position: right;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
    margin-right: 3px;
}

#inputIcon {
    background-image: url('css/images/inputansoptionicon.svg');
}

#imageIcon {
    background-image: url('css/images/imageansoptionicon.svg');
}


#options {
    height: 86px;
    width: 140px;
    background-color: white;
    border: 2px solid #233E46;
    border-radius: 8px;
}

    #options > div {
        display: flex;
        flex-direction: row;
    }

#editPage {
    display: flex;
    justify-content: center;
    flex-direction: column
}

#addAnsOptions div.addButton {
    text-align: center;
    padding-top: 4px;
    margin-right: 45px;
    position: relative;
    top: -18px;
    left: -9px;
}

#addAnsButton:hover #addAnsOptions {
    display: block;
}

.ansContainer {
    display: flex;
    align-items: start;
    flex-direction: row;
    width: 230px;
    height: 74px;
    gap: 6px;
}

button.deleteIcon {
    background-color: none !important;
}

.ansContainer input {
    margin-top: 20px;
}

.ansContainer div.deleteIcon {
    display: none;
    margin-top: 15px;
}

.ansContainer:hover div.deleteIcon {
    display: block;
}




.questionButtonAndSubmitContainer {
    height: 40px;
    width: 494px;
    display: flex;
    justify-content: center;
    gap: 32px
}


#questionImageContainer:hover #editOrDeleteQImage {
    height: 76px;
    width: 90px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

    #questionImageContainer:hover #editOrDeleteQImage div:first-child, #questionImageContainer:hover #editOrDeleteQImage div:nth-child(2) {
        height: 76px;
        width: 45px;
        border: 2px solid black;
        background-color: white;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 17px 20px;
    }

        #questionImageContainer:hover #editOrDeleteQImage div:first-child:hover, #questionImageContainer:hover #editOrDeleteQImage div:nth-child(2):hover {
            background-color: #E6F9FF;
        }



    #questionImageContainer:hover #editOrDeleteQImage div:first-child {
        border-radius: 0px 8px 8px 0px;
        border-left: 0px;
        background-image: url('css/images/pencilicon.svg');
    }

    #questionImageContainer:hover #editOrDeleteQImage div:nth-child(2) {
        border-radius: 8px 0px 0px 8px;
        border-right: 0px;
        background-image: url('css/images/trashicon.svg');
    }


.toolTips:hover {
    cursor: pointer;
}


.ToolTipInfos {
    height: 32px;
    width: 170px;
    border-radius: 6px;
    background-image: url('css/images/createoreditgamestooltips.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -50px;
    right: -6px;
    display: none;
}



    .ToolTipInfos p {
        font-size: 14px;
        padding-top: 1px;
        color: black;
    }


#pageTop > div {
    margin-left: 70px;
    width: 470px;
    justify-items: center;
}

    #pageTop > div p {
        height: 11px;
    }

    #pageTop > div input[type=button] {
        margin-right: 12px;
    }

.publishCurrentGameStatus {
    height: 14px;
    width: 14px;
    background-repeat: no-repeat;
    background-position: center;
}

    .publishCurrentGameStatus:hover {
        cursor: pointer;
    }

#canPublishGame {
    background-image: url('css/images/canpublishstatusicon.svg');
}

    #canPublishGame:hover div.ToolTipInfos, #canNotPublishGame:hover div.ToolTipInfos {
        display: block;
        transform: scaleY(-1);
        top: 20px;
    }

        #canPublishGame:hover div.ToolTipInfos p, #canNotPublishGame:hover div.ToolTipInfos p {
            transform: scaleY(-1);
            margin-bottom: 0px !important;
            text-align: center;
            position: relative;
            top: 13px;
        }

#canNotPublishGame {
    background-image: url('css/images/cannotpublishstatusicon.svg');
}


#editOrDeleteQImage label {
    height: 73px;
    width: 44px;
    */ position: relative;
    background-image: none;
    outline: none;
    border-radius: 0px;
    display: none;
}

#editOrDeleteQImage > div:first-child:hover label {
    display: block;
}

.disabledButton {
    opacity: 30%;
}

    .disabledButton:hover {
        transform: scale(1) !important
    }


#allAccordions:has(button.accordion-button.collapsed) #listOfQuestionsContiner {
    max-height: 315px !important
}


.questionInList {
    margin-right: 4px;
    direction: rtl;
    border: 2px solid black;
    border-radius: 9px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    max-width: 494px;
}

    .questionInList:hover {
        background-color: #E6F9FF !important;
        /*color on hover of a question in the list - uses the accordion button color with 14% opacity*/
    }

#selectedQuestion {
    background-color: #B3EDFF;
}

.questionInList p {
    margin-top: 15px;
    max-width: 400px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

    .questionInList .deleteIcon {
        display: none;
    }

    .questionInList:hover .deleteIcon {
        display: block;
        cursor: pointer;
    }

#gameNameToolTip, #qTimeToolTip, #questionToolTip, #answersToolTip {
    height: 14px;
    width: 14px;
    border-radius: 7px;
    font-size: 10px;
    background-color: #233E46;
    color: white;
    text-align: center;
}


#timeOptions {
    height: 24px;
    width: 106px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    background: white url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>') no-repeat left center !important;
}

    #timeOptions:hover {
        cursor: pointer;
    }


#GameCode {
    height: 42px;
    width: 250px !important;
    color: white;
    padding-right: 132px  
}

    #GameCode span{
        padding-right:6px;
        width: 88px;
        text-align: center;
        font-size: 12px;
        font-weight: bold
    }


        /*    toggle*/
        .switch {
            position: relative;
            display: inline-block;
            width: 32px;
            height: 16px;
            margin-top: 4px;
        }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    outline: 1px solid black;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        outline: 1px solid black;
    }

input:checked + .slider {
    background-color: #0EAE00;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(-16px);
    -ms-transform: translateX(-16px);
    transform: translateX(-16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


.switch:hover {
    transform: scale(1.2)
}

.switch:has(input:disabled) .slider {
    opacity: 30%;
}

.switch:has(input:disabled):hover {
    transform: scale(1);
}

.switch:has(input:disabled) .slider {
    cursor: default !important;
}


/* tooltips*/

.togglesToolTips {
    height: 32px;
    width: 170px;
    border-radius: 6px;
    background-image: url('css/images/createoreditgamestooltips.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -56px;
    right: -6px;
    display: none;
}

    .togglesToolTips p {
        text-align: center
    }

.switch:hover .togglesToolTips {
    display: block;
    opacity: 100%;
}

.switch:has(input:not(:disabled)):hover .togglesToolTips {
    transform: scale(0.8);
    top: -52px;
    right: -20px;
}

.switch:has(input:checked):hover .togglesToolTips {
    transform: scale(0.8);
    top: -52px;
    right: -3px;
}