
.page_bg {
    display: flex;
    justify-content: center
}

.gameNameAndCode {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 21px;
    padding-left: 21px
}

.gameCode {
    color: white
}

.numofquestionsAndTime {
    display: flex;
    justify-content: space-around;
    padding-right: 21px;
    padding-left: 21px;
    margin-top: 10px
}

.numOfQOrTimeContainer {
    border: 1px solid black;
    width: 100px;
    height: 43px;
    border-radius: 8px;
    display: flex;
    gap: 0px;
    flex-direction: column
}

.numOfQOrTimeCount {
    text-align: center;
    font-size: 20px;
    height: 22px
}

.numOfQ0rTimeText {
    text-align: center;
    font-size: 12px;
    height: 14px
}

.gameEditorOptions {
    display: flex;
    justify-content: space-around;
    padding-right: 21px;
    padding-left: 21px;
    margin-top: 7px
}








#allGames {
    width: 1120px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 70px;
    max-height: 486px;
    background-color: pink;

}

#canPublish {
    background-image: url('css/images/yellowgamecontainer.svg');
}

#canNotPublish {
    background-image: url('css/images/redgamecontainer.svg');
}

#published {
    background-image: url('css/images/greengamecontainer.svg');
}

.gamesContainers {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 256px;
    height: 138px;
    padding-top: 15px;
    margin: 12px;
}

#CreateNewGame {
    background-image: url('css/images/newgamecontainer.svg');
    width: 256px;
    height: 138px;
    margin: 12px;
}

    #CreateNewGame:hover {
        transform: scale(1.05);
    }



/*    toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
    margin-top: 4px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    outline: 1px solid black;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    outline: 1px solid black;
}

input:checked + .slider {
    background-color: #0EAE00;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(-16px);
    -ms-transform: translateX(-16px);
    transform: translateX(-16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


.switch:hover{
    transform: scale(1.2)
}

.switch:has(input:disabled) .slider {
    opacity: 30%;
}

    .switch:has(input:disabled):hover {
        transform: scale(1);
    }

    .switch:has(input:disabled) .slider {
        cursor: default !important;
    }


   /* tooltips*/

.togglesToolTips {
    height: 32px;
    width: 170px;
    border-radius: 6px;
    background-image: url('css/images/createoreditgamestooltips.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -56px;
    right: -6px;
    display: none;
}

    .togglesToolTips p{
        text-align: center
    }

    .switch:hover .togglesToolTips {
        display: block;
        opacity: 100%;
    }

.switch:has(input:not(:disabled)):hover .togglesToolTips {
    transform: scale(0.8);
    top: -52px;
    right: -20px;


}
.switch:has(input:checked):hover .togglesToolTips {
    transform: scale(0.8);
    top: -52px;
    right: -3px;
}