.default-input {
    padding: 5px;
/*    margin-top: 20px;*/
/*    margin-bottom: 10px;*/
    border-radius: 8px;
    border: 2px solid black;
    outline-offset: 0px!important;
/*    transition: all ease-in-out .2s;*/
    width: 180px;
    height: 24px;
}

    .default-input.good-input:focus {
        border: 2px solid green !important;
        width: 180px !important;
    }

    .default-input.warnning-input:focus {
        border: 2px solid orange !important;
        width: 180px !important;
    }

    .default-input.danger-input {
        border: 2px solid red !important;
        width: 180px !important;
    }

/*    div{
        display:flex;
        direction:row;
    }*/

.numOfChars{
    text-align: left;
    margin:0px;
}