<nav>
    <div>
        <NavLink href="" Match="NavLinkMatch.All"></NavLink>
    </div>
    <div id="navGame" class="navBarTabs">
        <NavLink href="" Match="NavLinkMatch.All">
            משחק
        </NavLink>
    </div>
    <div id="navHTP" class="navBarTabs" @onclick="OnOffHowToPlayPop">
        איך משחקים
        @* <NavLink href="">
            איך משחקים
        </NavLink> *@
    </div>
    <div id="navEditor" class="navBarTabs">
        
        <NavLink href="GamesList">
            עורך
        </NavLink>
    </div>
    <div id="navAbout" class="navBarTabs" @onclick="OnOffAboutPop">
        אודות
        @* <NavLink href="">
            אודות
        </NavLink> *@
    </div>
</nav>

@if (HowToPlayPop)
{ 
    <div class="navPopUps">
        <div class="popUpContainer">
            <div>
                <input type="button" @onclick="OnOffHowToPlayPop">
            </div>
            <h4>איך משחקים?</h4>
            <div id="howToPlayInfo">
                כדי לענות על כל שאלה במשחק, יש להזיז את המכולות שעל המגרש,
                <br/>
                כך שניתן יהיה להוציא את המכולה עם התשובה הנכונה מהמגרש.
            </div>
            <div id="HTPGuide">
                <div class="guideSteps">
                    <div>1</div>
                    <div>בחירת מכולה:</div>
                    <div></div>
                </div>
                <div class="guideSteps">
                    <div>2</div>
                    <div>הזזת מכולה:</div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
}
else if (About)
{
    <div id="aboutPopUp" class="navPopUps">
        <div class="popUpContainer">
            <div>
                <input type="button" @onclick="OnOffAboutPop">
            </div>
            <h4>אודות</h4>
            <h5>"מכולה עוברת"</h5>
            <div>
                <p><span>אפיון ופיתוח: </span>יעל צורן, אליסה גוצוליאק ,עמית ירושלמי</p>
                
                <p><span>אופיין ופותח במסגרת פרויקט בקורסים:</span></p>
                <ul>                    
                    <li>סביבות לימוד אינטראקטיביות 1-2</li>
                    <li>תכנות אינטראקציה ואנימציה 1-2</li>
                    <li>תכנות 1-2</li>
                </ul>
                <span>תשפ"ד"</span>

                <ul>
                    <li>
                        נעשה שימוש בתמונות מאתר
                        <a href="https://www.freepik.com/">Freepik</a>
                    </li>
                </ul>
                <div>
                    <a href="https://www.hit.ac.il/academic/instructional-technologies/">הפקולטה לטכנולוגיות למידה</a>
                </div>
            </div>     
            
        </div>
    </div>
}

@code {
    bool HowToPlayPop;
    bool About;

    void OnOffHowToPlayPop()
    {
        HowToPlayPop = !HowToPlayPop;
        About = false;
    }

    void OnOffAboutPop()
    {
        About = !About;
        HowToPlayPop = false;
    }
}