nav {
    width: 100%;
    font-size: 0;
    background-image: url('css/images/navbg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: flex-end;
    display: flex;
    padding-left: 10px;
}

    nav > div , nav > div > a{
        display: inline-block;
        font-size: 12pt;
        width: 100px;
        height: 44px;
    }

#navGame:hover, #navEditor:hover, #navAbout:hover,
#navGame:has(a.active):hover, #navEditor:has(a.active):hover, #navAbout:has(a.active):hover, 
#navGame:has(a.active), #navEditor:has(a.active), #navAbout:has(a.active) {
    background-image: url('css/images/shipshadowimage.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 36px;
}


    #navGame:has(a.active), #navEditor:has(a.active), #navAbout:has(a.active) {
        background-image: url('css/images/shipimage.svg');
    }


#navHTP:has(a.active) {
    background-image: url('css/images/bigshipimage.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px 36px;
}

#navHTP:hover {
    background-image: url('css/images/bigshipshadowimage.svg') !important;
    background-size: 150px 36px;
    background-position: center;
    background-repeat: no-repeat;
}

::deep a.active, ::deep a:hover {
    color: white;
}

nav > div:nth-child(3) {
    width: 150px;
}

::deep a {
    color: #233E46;
    text-align: center;
    display: block;
    padding: 10px;
    padding-right: 18px;
    text-decoration: none;
    height: 44px !important;
}


    nav div:first-child {
        margin-left: auto;
        height: 44px;
        width: 150px;
        background-image: url('css/images/gamelogo.svg');
        background-repeat: no-repeat;
        background-size: 123px 37px;
        background-position: center;
    }
