<nav>
    <div></div>
    <div>
        <NavLink href="" Match="NavLinkMatch.All">
            משחק
        </NavLink>
    </div>
    <div>
        <NavLink href="https://www.youtube.com/watch?v=GXYN8kATnVA&list=PLfP6i5T0-DkIMLNRwmJpRBs4PJvxfgwBg&index=6" >
            איך משחקים
        </NavLink>
    </div>
    <div>
        <NavLink href="GamesList">
            עורך
        </NavLink>
    </div>
    <div>
        <NavLink href="About">
            אודות
        </NavLink>
    </div>
</nav>

@code {

}