<nav>
    <div>
        <NavLink href="" Match="NavLinkMatch.All"></NavLink>
    </div>
    <div id="navGame" class="navBarTabs">
        <NavLink href="" Match="NavLinkMatch.All">
            משחק
        </NavLink>
    </div>
    <div id="navHTP" class="navBarTabs">
        <NavLink href="">
            איך משחקים
        </NavLink>
    </div>
    <div id="navEditor" class="navBarTabs">
        <NavLink href="GamesList">
            עורך
        </NavLink>
    </div>
    <div id="navAbout" class="navBarTabs">
        <NavLink href="">
            אודות
        </NavLink>
    </div>
</nav>

@code {

}