nav {
    width: 100%;
    font-size: 0;
    background-image: url('css/images/navbg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: flex-end;
    display: flex;
    padding-left: 10px;
}

    nav > div {
        text-align: center;
        align-content: center;
        cursor: pointer;
    }

        nav > div, nav > div > a {
            display: inline-block;
            font-size: 12pt;
            width: 100px;
            height: 44px;
        }

#navGame:hover, #navEditor:hover, #navAbout:hover,
#navGame:has(a.active):hover, #navEditor:has(a.active):hover, #navAbout:has(a.active):hover,
#navGame:has(a.active), #navEditor:has(a.active), #navAbout:has(a.active) {
    background-image: url('css/images/shipshadowimage.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 36px;
}


#navGame:has(a.active), #navEditor:has(a.active), #navAbout:has(a.active) {
    background-image: url('css/images/shipimage.svg');
}


#navHTP:has(a.active) {
    background-image: url('css/images/bigshipimage.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px 36px;
}

#navHTP:hover {
    background-image: url('css/images/bigshipshadowimage.svg') !important;
    background-size: 150px 36px;
    background-position: center;
    background-repeat: no-repeat;
}

::deep a.active, ::deep a:hover {
    color: white;
}

nav > div:nth-child(3) {
    width: 150px;
}

::deep a {
    color: #233E46;
    text-align: center;
    display: block;
    padding: 10px;
    padding-right: 18px;
    text-decoration: none;
    height: 44px !important;
}


nav div:first-child {
    margin-left: auto;
    height: 44px;
    width: 150px;
    background-image: url('css/images/gamelogo.svg');
    background-repeat: no-repeat;
    background-size: 123px 37px;
    background-position: center;
}


/*popups of nav*/


.navPopUps {
    height: 100vh;
    width: 100vw;
    background-color: #00000080;
    position: absolute;
    top: 44px;
    right: 0px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.popUpContainer {
    margin-top: 170px;
    height: 370px;
    width: 740px;
    background-image: url('css/images/aboutandhowtoplaybg.svg');
    background-repeat: no-repeat;
    background-size: 740px 370px;
    display: flex;
    flex-direction: column;
}

.popUpContainer>div:first-child {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.popUpContainer input[type="button"] {
    height: 45px;
    width: 45px;
    background: none;
    border: none;
    background-image: url('css/images/closepopupicon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    margin-left: 2px;
}

.popUpContainer input[type="button"]:hover {
    background-size: 25px 25px;
}

    .popUpContainer h4, .popUpContainer h5 {
        width: 100%;
        text-align: center;
    }
 .popUpContainer h4 {
    margin-top: 5px;
    font-weight: bold;
}

#aboutPopUp .popUpContainer span {
    font-weight: bold;
}
#aboutPopUp .popUpContainer div:not(:has(input[type="button"])) {
    width: 100%;
    padding-right: 70px;
    margin-top: 5px;
    font-size: 16px;
}

#aboutPopUp .popUpContainer ul, .popUpContainer p {
    margin: 0px;
}

#aboutPopUp .popUpContainer p:nth-of-type(2), .popUpContainer ul:nth-of-type(2), .popUpContainer h5 {
    margin-top: 10px;
}

#aboutPopUp .popUpContainer a {
    color: #0000EE;
    text-decoration: underline;
    width: 50px;
    padding: 0px;
    display: inline-block;
}


#aboutPopUp .popUpContainer li:has(a) {
    display: inline-block
}

#aboutPopUp .popUpContainer div:nth-of-type(2) div:last-child:has(a) {
    height: 180px;
    width: 200px;
    background-image: url('css/images/hitlogo.png');
    background-size: 200px 136px !important;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    top: -180px;
    right: 400px;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: flex-end;
}

#aboutPopUp .popUpContainer div:nth-of-type(2) div:last-child a {
    width: 100%;
    height: 20px;
}


#howToPlayInfo {
    font-size: 20px;
    width: 100%;
    padding-right: 70px;
    margin-top: 10px;
}

#HTPGuide{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding-right: 70px;
}

.guideSteps {
    padding: 0px !important;
    font-weight: bold;
    display: flex;
    justify-content: flex-start
}

    .guideSteps:first-child {
        height: 150px !important;
        width: 285px !important;
    }

    .guideSteps:nth-child(2) {
        height: 150px !important;
        width: 315px !important;
    }

    .guideSteps:first-of-type div:first-child, .guideSteps:first-of-type div:nth-child(2) {
        margin-top: 15px !important;
    }

    .guideSteps:nth-of-type(2) div:first-child, .guideSteps:nth-of-type(2) div:nth-child(2) {
        margin-top: 75px !important;
    }


    .guideSteps:first-of-type div:nth-child(3) {
        height: 80px;
        width: 120px;
    }

    .guideSteps div:first-child {
        height: 30px !important;
        width: 30px !important;
        padding: 0px !important;
        margin: 0px !important;
        margin-left: 6px !important;
        margin-top: 10px;
        border-radius: 15px;
        background-color: #233E46;
        text-align: center !important;
        justify-content: center;
        color: #F9F6DA;
        font-size: 18px !important;
        font-weight: bold !important;
    }

    .guideSteps:first-of-type div:nth-child(3), .guideSteps:nth-of-type(2) div:nth-child(3) {    
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
    }


    .guideSteps:first-of-type div:nth-child(3) {
        background-image: url('css/images/choosecontainerguide.svg');
        background-size: 120px 120px;
        height: 120px;
        width: 120px;
    }

    .guideSteps:nth-of-type(2) div:nth-child(3) {
        margin-top: 35px;
        background-image: url('css/images/movecontainerguide.svg');
        background-size: 214px 158px;
        height: 110px;
        width: 164px;
    }


