<nav>
    <div>
        <NavLink href="" Match="NavLinkMatch.All"></NavLink>
    </div>
    <div id="navGame" class="navBarTabs">
        <NavLink href="" Match="NavLinkMatch.All">
            משחק
        </NavLink>
    </div>
    <div id="navHTP" class="navBarTabs" @onclick="OnOffHowToPlayPop">
        <NavLink href="">
            איך משחקים
        </NavLink>
    </div>
    <div id="navEditor" class="navBarTabs">
        <NavLink href="GamesList">
            עורך
        </NavLink>
    </div>
    <div id="navAbout" class="navBarTabs" @onclick="OnOffAboutPop">
        <NavLink href="">
            אודות
        </NavLink>
    </div>
</nav>

@if (HowToPlayPop)
{
    <input type="button" @onclick="OnOffHowToPlayPop"> //כפתור לסגירה
}
else if (About)
{
    <input type="button" @onclick="OnOffAboutPop"> //כפתור לסגירה
}

@code {
    bool HowToPlayPop;
    bool About;

    void OnOffHowToPlayPop()
    {
        HowToPlayPop = !HowToPlayPop;
        About = false;
    }

    void OnOffAboutPop()
    {
        About = !About;
        HowToPlayPop = false;
    }
}